<p id="notice"><%= notice %></p>

<h1>Listing Productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Foto url</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.nombre %></td>
        <td><%= producto.descripcion %></td>
        <td><%= producto.foto_url %></td>
        <td><%= producto.precio %></td>
        <td><%= link_to 'Show', admin_producto_path(producto) %></td>
        <td><%= link_to 'Edit', edit_admin_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', admin_producto_path(producto), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_admin_producto_path %>
