<div class="main">
  <div class="shop_top">
    <div class="container">

      <% @cart.items.each do |item| %>
          <div class="row">
            <div class="col-md-3 shop_box">
              <a href="productos/<%= item.producto.id %>">
                <img src="<%= item.producto.foto_url %>" class="img-responsive" alt=""/>
              </a>
            </div>

            <div style="float: left">
              <h3><a href="productos/<%= item.producto.id %>"><%= item.producto.nombre %></a></h3>
              <%= link_to "Remover", remove_from_cart_path(:product_id => item.producto.id), :method => :post %>
            </div>


              <!--<div class="col-md-3 shop_box">-->
                <!--<a href="productos/<%= item.producto.id %>">-->
                  <!--<img src="<%= item.producto.foto_url %>" class="img-responsive" alt=""/>-->
                <!--</a>-->
              <!--</div>-->
              <!--<div style="float: left ">-->
                <!--<h3><a href="productos/<%= item.producto.id %>"><%= item.producto.nombre %></a></h3>-->
                <!--<span class="actual">$<%= item.producto.precio %></span><br>-->
                <!--<span class="actual">$<%= item.cantidad %></span><br>-->

              <!--</div>-->


          </div>
      <% end %>
    </div>
  </div>
</div>