<div class="main">
  <div class="features">
    <div class="container">
      <h3 class="m_3">Categorías</h3>
      <div style="padding:0 25% 40px"><p style="font-size:medium; text-align:justify;">Elije una de nuestra categorías y encnuentra el producto que buscas. Entre madera y metal lo que quieres regalar esta a un solo clic.</p></div>
      <div class="close_but"><i class="close1"> </i></div>
      <div class="row">
        <% @categorias.each do |categoria| %>
            <div class="col-md-3 top_box">
              <div class="view view-ninth"><a href="productos?categoria=<%= categoria.id %>">
                <img src="<%= categoria.foto_url %>" class="img-responsive" alt=""/>
                <div class="mask mask-1"> </div>
                <div class="mask mask-2"> </div>
                <div class="content">
                  <h2><%= categoria.nombre %></h2>
                  <p><%= categoria.nombre %></p>
                </div>
              </a> </div>
              <h4 class="m_4"><a href="productos?categoria=<%= categoria.id %>"><%= categoria.nombre %></a></h4>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>