<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categorium.nombre %>
</p>

<p>
  <strong>Orden:</strong>
  <%= @categorium.orden %>
</p>

<p>
  <strong>Foto url:</strong>
  <%= @categorium.foto_url %>
</p>

<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
