
<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="col-md-6">
        <div class="login-page">
          <h4 class="title">New Customers</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis</p>
          <div class="button1">
            <a href="sign_up"><input type="submit" name="Submit" value="Create an Account"></a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="login-title">
          <h4 class="title">Registered Customers</h4>
          <div id="loginbox" class="loginbox">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <fieldset class="input">
                  <p id="login-form-username">
                    <label for="modlgn_username">Email</label>
                    <%= f.email_field :email, name: "email", class: "inputbox", size: "18", autocomplete: "off", autofocus: true %>
                  </p>
                  <p id="login-form-password">
                    <label for="modlgn_passwd">Password</label>
                    <%= f.password_field :password, name: "password", class: "inputbox", size: "18", autocomplete: "off" %>
                  </p>
                  <div class="remember">
                    <% if devise_mapping.rememberable? -%>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                    <% end -%>
                    <p id="login-form-remember">
                      <label for="modlgn_remember"><a href="password/new">Forget Your Password ? </a></label>
                      <br />
                      <label for="modlgn_remember"><a href="confirmation/new">Didn't receive confirmation instructions ? </a></label>
                    </p>
                    <%= f.submit "Log in", name: "Submit", class: "button"  %>
                    <div class="clear"></div>
                  </div>
                </fieldset>
            <% end %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
