<div class="main">
<div class="shop_top">
  <div class="container">

    <% @productos.in_groups_of(4, false).each do |group| %>
      <div class="row">
        <% group.each do |producto| %>
          <div class="col-md-3 shop_box">
            <a href="productos/<%= producto.id %>">
              <img src="<%= producto.foto_url %>" class="img-responsive" alt=""/>
                <span class="new-box">
                  <span class="new-label">Nuevo</span>
                </span>
              <div class="shop_desc">
                <h3><a href="productos/<%= producto.id %>"><%= producto.nombre %></a></h3>
                <p><%= producto.descripcion[0..35] %> ...</p>
                <span class="reducedfrom">$<%= producto.precio*1.2 %></span>
                <span class="actual">$<%= producto.precio %></span><br>
                <ul class="buttons">
                  <% if false %><li class="cart"><a href="#">Agregar</a></li><% end %>
                  <li class="shop_btn"><a href="productos/<%= producto.id %>">Ver</a></li>
                  <div class="clear"> </div>
                </ul>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
</div>