<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @foto.url %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @foto.producto %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
