<!DOCTYPE html>
<html>
<head>
  <title>El Baúl - Administrador</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	
	<% if usuario_signed_in? %>
		<%= link_to 'Salir', destroy_usuario_session_path %>
	
		<br /><br />
		<%= link_to 'Productos', admin_productos_path %>
		<%= link_to 'Cambiar Datos', edit_usuario_registration_path %>

	<% else %>
		<%= link_to 'Ingresar', new_usuario_session_path %>
	<% end %>

	<%= yield %>

</body>
</html>
