<!DOCTYPE html>
<html>
<head>
  <title>Elbaul</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<p>agregado por Fausto</p>
	<% if usuario_signed_in? %>
		<%= link_to 'Salir', destroy_usuario_session_path, method: :delete %>
		<%= link_to 'Cambiar Datos', edit_usuario_registration_path %>
	<% else %>
		<%= link_to 'Ingresar', new_usuario_session_path %>
	<% end %>
<p>---------</p>

   <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#regalos">Regalos</a></li>
  <li><a href="#contacto">Contacto</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="#Carrito">Mi Carrito</a></li>
  </ul>
</ul>


<%= yield %>

 <footer>
  <%= image_tag("logo_elbaul.png", :alt => "rss feed") %>
  
 
</footer> 


</body>
</html>


