<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
  <title>The Male Box</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="/css/general.css" rel='stylesheet' type='text/css' />
  <link href="/css/style.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="/js/jquery.min.js"></script>
  <!--<script src="js/jquery.easydropdown.js"></script>-->
  <!--start slider -->
  <link rel="stylesheet" href="/css/fwslider.css" media="all">
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/fwslider.js"></script>
  <!--end slider -->
  <script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown img.flag").addClass("flagvisibility");

      $(".dropdown dt a").click(function() {
        $(".dropdown dd ul").toggle();
      });

      $(".dropdown dd ul li a").click(function() {
        var text = $(this).html();
        $(".dropdown dt a span").html(text);
        $(".dropdown dd ul").hide();
        $("#result").html("Selected value is: " + getSelectedValue("sample"));
      });

      function getSelectedValue(id) {
        return $("#" + id).find("dt a span.value").html();
      }

      $(document).bind('click', function(e) {
        var $clicked = $(e.target);
        if (! $clicked.parents().hasClass("dropdown"))
          $(".dropdown dd ul").hide();
      });


      $("#flagSwitcher").click(function() {
        $(".dropdown img.flag").toggleClass("flagvisibility");
      });
    });
  </script>
  <link rel="stylesheet" href="/css/etalage.css">
  <script src="/js/jquery.etalage.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-left">
          <div class="logo">
            <a href="#" onclick="window.location.href='/'"><img src="/images/logo.png" alt=""/></a>
          </div>
          <div class="menu">
            <a class="toggleMenu" href="#"><img src="/images/nav.png" alt="" /></a>
            <ul class="nav" id="nav">
              <li><a href="#" onclick="window.location.href='/'">Inicio</a></li>
              <% if usuario_signed_in? %>
                  <li><a href="/pedidos">Mis Pedidos</a></li>
              <% end %>
              <!--<li><a href="/productos">Productos</a></li>-->
              <li><a href="/categorias">Productos</a></li>
              <li><a href="/page/contactos">Contactos</a></li>
              <li> | </li>
              <% if usuario_signed_in? %>
                  <li style="font-size: smaller"><%= link_to 'Salir', destroy_usuario_session_path %></li>
              <% else %>
                  <li style="font-size: smaller"><%= link_to 'Ingresar', new_usuario_session_path %></li>
              <% end %>
              <div class="clear"></div>
            </ul>

            <script type="text/javascript" src="/js/responsive-nav.js"></script>
          </div>
          <div class="clear"></div>
        </div>
        <div class="header_right">
          <!-- start search-->
          <div class="search-box">
            <div id="sb-search" class="sb-search">
              <form action="/productos">
                <input class="sb-search-input" placeholder="Escriba su búsqueda" type="search" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
              </form>
            </div>
          </div>
          <!----search-scripts---->
          <script src="/js/classie.js"></script>
          <script src="/js/uisearch.js"></script>
          <script>
            new UISearch( document.getElementById( 'sb-search' ) );
          </script>
          <!----//search-scripts---->
          <div>
          <ul class="icon1 sub-icon1 profile_img">
            <li><a class="active-icon c1" href="#"> </a>
              <ul class="sub-icon1 list">
                <div class="clear"></div>
                <li class="list_img"><img style="background-color: black" src="/images/logo.png" alt="MaleBox"/></li>
                <li class="list_desc" style="float: right">
                  <h4>
                    <% if usuario_signed_in? %>
                        <%= current_usuario.email %>
                    <% else %>
                        Ingresa a nuestra plataforma
                    <% end %>
                  </h4>
                </li>
                <div class="login_buttons">
                  <% if usuario_signed_in? %>
                      <div class="login_button"><%= link_to 'Salir', destroy_usuario_session_path %></div>
                  <% else %>
                      <div class="login_button"><%= link_to 'Ingresar', new_usuario_session_path %></div>
                  <% end %>

                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </ul>
            </li>
          </ul>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%= yield %>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="footer_box">
          <h4>Productos</h4>
          <li><a href="#">Wood Box</a></li>
          <li><a href="#">Metal Box</a></li>
          <li><a href="#">Chocolate</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer_box">
          <h4>Conócenos</h4>
          <li><a href="#">Quienes Somos</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer_box">
          <h4>Tienes dudas</h4>
          <li><a href="#">Contáctanos</a></li>
          
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="footer_box">
          <ul class="social">
            <li class="facebook"><a href="#"><span> </span></a></li>
            <li class="twitter"><a href="#"><span> </span></a></li>
            <!-- <li class="instagram"><a href="#"><span> </span></a></li>
            <li class="pinterest"><a href="#"><span> </span></a></li> -->
            <li class="youtube"><a href="#"><span> </span></a></li>
          </ul>
          <ul>
            <div class="row">
              <div class="copy">
                <p>© 2016 The MaleBox</p>
              </div>
            </div>
          </ul>
        </ul>
      </div>
    </div>

  </div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>