<!DOCTYPE html>
<html>
<head>
  <title>Elbaul</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
	<!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	 -->
  
  
  <ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Regalos", productos_path %></li>
  <li><%= link_to "Contactos", page_contactos_path %></li>
  <ul style="float:right;list-style-type:none;">
    <% if usuario_signed_in? %>
      <li><%= link_to current_usuario.email, edit_usuario_registration_path %></li>
      <li><%= link_to 'Salir', destroy_usuario_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Ingresar', new_usuario_session_path %></li>
    <% end %>
  </ul>
</ul>


<%= yield %>

 <footer>
  <%= image_tag("logo_elbaul.png", :alt => "rss feed") %>
  
 
</footer> 


</body>
</html>


